<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <link rel="preload" href="http://sa6zmnnf4.hn-bkt.clouddn.com/huiwen-mincho.otf?e=1710180586&token=cCQr5Og_JUJeAiCfApq_f7zUxmiu1dio9JzatCc_:xnPklG21EOkYbL_LFRrFb3ns8as=" as="font" type="font/otf" crossorigin>



  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
